body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #4072B3;
  padding: 10px;
  color: #fff;
  text-align: center;
}

header p {
  margin: 0;
}

.error {
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.error ul {
  margin: 0;
}

.index-container {
  width: fit-content;
  margin:auto;
  padding: 10px;
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.button-wrapper p {
  font-weight: 700;
}

.button {
  border: 0px;
  background-color: #AEC4E5;
  border-radius: 30px;
  padding: 5px 15px;
  font-size:16px
}

.index-table {
  width: 1000px;
  text-align: center;
}

.index-table thead {
  background-color: #AEC4E5;
  text-align: center;
}

.link {
  color: #000;
}

.footer {
  margin: 15px 0;
}

.footer p {
  margin: 0;
}

.schedules-count {
  font-weight: 700;
}

.today {
  color:#EB8686 ;
  font-weight: 700;
}

.show-container, .edit-container, .new-container {
  width: fit-content;
  margin: 30px auto;
}

.show-container {
  max-width: 75%;
}


ul {
  list-style: none;
  padding: 10px;
}